/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

/*-- scss:rules --*/

.fun {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #db7093;
  border-bottom: 1px solid #db7093;
  background-image: url("images/celebrate.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}



/*-- scss:Julia's additions --*/


.callout-question.callout {
  border-left-color: #000099 !important;
  border-right-color: #e6e6fa  !important;
  border-top: 1px solid #E0E0E0 !important;
  border-bottom: 1px solid #E0E0E0  !important;
  background-color:  #FFFFFF !important;
  padding: 0em 0em 0em 0em;
  margin-top: 0px;
  margin-bottom: 0px;
}


.callout-question.callout-style-default>.callout-header{
  background-color: #e6e6fa  !important;
  color: #1b1b1b;
  padding-right: 1em;
  display: flex;
  height: 2.5em;
  overflow: hidden;
}


/*--

.callout-question.icon.callout-icon {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  margin-top: .5rem;
  padding-right: 1.25rem;
  background-image: unset !important;
}


div.callout-question.icon.callout-captioned .callout-icon::before {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  margin-top: .5rem;
  padding-right: 1.25rem;
  background-image: url('images/computer_icon.png');
}


div.callout-question.icon.callout-style-default div.callout-icon-container {
  padding-top: 0em;
  padding-right: 1.25em;
}

--*/

$border-color-left: #0dcaf0 !default;
$icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg>') !default;

$background-color: #bfe4eb !default;


/*-- scss:rules --*/

div.callout-tweet.callout {
  border-left-color: $border-color-left;
}

div.callout-tweet.callout-style-default>.callout-header {
  background-color: $background-color;
}

.callout-tweet.icon .callout-icon {
  display: unset !important;
}

div.callout-tweet.icon.callout-captioned .callout-icon::before {
  background-image: $icon;
}

.callout-tweet.icon.callout-style-default div.callout-icon-container {
  padding-top: 0.1em;
  padding-right: 0.35em;
}